h2 {
    font-family: 'Montserrat-light', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #8f8f8f;
}


/* titlesection  */

#title .container-fluid {
    background-color: #ff4c68;
    padding-bottom: 300px;
}

.container-fluid {
    padding: 3% 10%;
}

.row {
    margin-top: 4rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.nav-item {
    padding: 0 1rem;
}

.nav-item a {
    font-family: 'Montserrat-light', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
}

.title-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    color: #fff;
}

.title-image {
    transform: rotate(25deg);
    position: absolute;
    right: 18%;
}

.icon {
    padding-right: 10px;
}

.download-btn {
    padding: 0.38rem 1rem;
    margin: 2rem 1rem 0 0;
}


/* features section  */

#features {
    padding: 7% 15%;
    margin: 0 5px 10px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.mid-text {
    text-align: center;
    padding: 20px;
}

.mid-icon {
    margin-bottom: 16px;
    color: #ef8172;
}

.mid-icon:hover {
    color: #ff4c68;
}


/* testemonial section  */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#testimonials h2 {
    margin-bottom: 40px
}

#testimonials img {
    margin: 10%;
    border-radius: 50%;
    width: 20%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 0 5% 7%;
}

.press-img {
    margin: 40px 20px;
    width: 20%;
}

.carousel-item {
    padding: 7% 15% 0;
}

#pricing {
    text-align: center;
}

.pricing {
    padding: 5% 7%;
}

.pricing p {
    font-size: 1.5rem;
}

.card {
    height: 25rem;
}

.card-section {
    padding: 0 7% 10%;
}

.price-btn {
    margin-top: 41px;
}

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}

#cta h3 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 3rem;
    padding-bottom: 20px;
}

#footer {
    background-color: #fff;
    padding: 3% 15% 2%;
    text-align: center;
}

.footicon {
    padding: 10px 10px;
}

#footer p {
    padding-top: 20px;
}

@media (max-width:1150px) and (min-width:992px) {
    .title-image {
        position: relative;
        left: 40px;
    }
}

@media (max-width:991px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(30deg);
        padding-top: 100px;
    }
    .title-text {
        line-height: 1.5;
        margin-bottom: 2rem;
    }
    #title .container-fluid {
        padding-bottom: 10%;
    }
}